nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding-left: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

h2 {
    font-family:'Inconsolata', 'Arial', 'Sans-Serif';
    font-weight: bold;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #f09329;
}

a:not(.left):hover
{
    color: #2986F0;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}


p {
    font-size: 1em;
    font-family:'Inconsolata', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: rgb(255, 251, 244);
    text-align: center;
    align-items: center;
    justify-content: center;
}
footer {
    border-top: 1px solid #4c4c4c;
    font-size: .8em;
    padding-left: 10%;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.top-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.left {
    grid-column: 1;
    padding-left: 40%;
}

.right {
    grid-column: 2;
    text-align: right;
    padding-right: 20%;

}

.formatting {
    text-align: center;
}

.post-content
{
    align-content: center;
    
    margin-left: 10%;
    margin-right: 10%;
}


body, html {
    height: 100%;
    margin: 0;
    }

.banner 
{
    background-color: 4c4c4c;
    height: 50vh;
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner h1 {
    font-size: 5em;

    margin-top: 0;
    margin-bottom: 0.5em;
}

.gifsForPost
{
    width: 600px;
    height: 300px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    row-gap: 100px;
    column-gap: 100px;
    transform: scale(0.9);
}
    
.grid img {
    border: 1px solid black;
    border-radius: 1px;
    width: 100%;
    height: 100%;
    animation-play-state: paused;
}

.grid img:hover {
    transform: scale(1.5);
    transition: transform 0.1s;
    pointer-events: auto;
    animation-play-state: running;
}


body {
    background-color: #1f1f1f;
    color: rgb(255, 251, 244);
}


.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    grid-auto-rows: auto; 
    gap: 10px;
    margin: 10px 0;

    width: calc(400px * 3 + 40px);
    
}

.grid-item {
    display: flex;
    border: 1px solid #383838;
    border-radius: 4px;
    padding: 20px;
    background-color: #1d1d1d;
    transition: 0.3s ease; 
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
    box-sizing: border-box;

    text-align: center;
    align-items: center;
    justify-content: center;
}

.grid-item:hover {
    border-color: #f09329;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-item.large {
    grid-column: span 2;
    grid-row: span 2;
}

.grid-item.wide {
    grid-column: span 5;
}

.grid-item.tall {
    grid-column: 1;
    grid-row: span 20;
}

.grid-item.long {
    grid-column: span 2;
    grid-row: span 40;
}

.grid-item:nth-child(1) {
    grid-column: span 2;
    grid-row: span 3;   
}

.grid-item:nth-child(3) {
    grid-column: span 3; 
}

.grid-text {
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;

}

.homepage {
    align-content: center;
    
    margin-left: 20%;
    margin-right: 20%;
}

.game-display {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 0; 
}


.game-icon:hover {
    transform: scale(0.95);
    transition: transform 0.1s;
    pointer-events: auto;
    animation-play-state: running;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    transform: scale(1);
}

.scale-item {
    max-width: 10px;
    max-height: 10px;
    row-gap: 100px;
    column-gap: 100px;
    width: 11px;
    height: 11px;
}